body {
    margin:0;
    font-family: 'Nunito', sans-serif;
}
.wrapper {
    min-height: 90vh;
}
/* header and menu*/
.header a:hover {
    text-decoration: none;
}
.header h1 a {
    font-family: 'Kaushan Script', cursive;
    color: #D8B1B1;
    margin-left: 15px;
}
.header h5 a {
    color: #D8B1B1;
    margin: 0 15px;
    transition: color .5s ease-in-out;
}
.header h5 a:hover {
    color: #D8B1B1;
    border-bottom: 2px solid #D8B1B1;
}
.total.updated {
    color: #A5435C;
}
/* add and remove from cart operations */
.plus img {
    max-width: 24px;
}
.plus:hover {
    cursor: pointer;
}
.minus img {
    max-width: 24px;
    margin-right: 5px;
}
.minus:hover {
    cursor: pointer;
    color: #a23347;
}
.add-to-order {
    color: #A5435C;
    transition: all 0.5s ease-out;
}
.add-to-order:hover {
    cursor: pointer;
    border-bottom: 1px solid #d88f97;
}
.feedback {
    visibility: hidden;
    color: #ffbc65;
    font-size: 1.25em;
    margin-left: 10px;
}
.feedback.on {
    visibility: visible;
}
/* general styling */
.btn-info {
    color: #fff;
    background-color: #d88f97;
    border-color: #d88f97;
}
.btn-info:hover {
    background-color: #c48289;
    border-color: #c48289;
}
.btn-info:not(:disabled):not(.disabled):active {
    background-color: #c48289;
    border-color: #c48289;
}
.gray {
    color: gray;
}
.red {
    color: red;
}
.gray.cursor:hover {
    cursor:pointer;
    color: #3d69e4;
}
/* checkout form styling */
input, textarea {
    outline: none;
    width: 100%;
    padding: 5px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 10px;
}
/* confirmation page */
.confirmation-page {
    height: 100%;
}
/* .card-container {
    min-height: 60vh;
}
.card-container:hover {
    cursor: pointer;
}
.card-width {
    width: 100%;
    height: 100%;
}
.image-container {
    width: 100%;
    height: 19rem;
}
.image-dims {
    height: 100%;
    object-fit: contain;
}*/