body {
    margin:0;
    font-family: 'Nunito', sans-serif;
}
.header h1 a {
    font-family: 'Kaushan Script', cursive;
    color: #D8B1B1;
    margin-left: 15px;
}
.header h5 a {
    color: #D8B1B1;
}
.header a:hover {
    text-decoration: none;
}
.menu {
    margin: 0 15px;
}
.menu:hover {
    color: #D8B1B1;
    border-bottom: 2px solid #D8B1B1;
}
.order-total {
    transition: color .5s ease-in;
}
.updated {
    color: #A5435C;
}
/* .card-container {
    min-height: 60vh;
}
.card-container:hover {
    cursor: pointer;
}
.card-width {
    width: 100%;
    height: 100%;
}
.image-container {
    width: 100%;
    height: 19rem;
}
.image-dims {
    height: 100%;
    object-fit: contain;
}*/
.card-body {
    min-height: 30vh;
} 
.btn-info {
    color: #fff;
    background-color: #d88f97;
    border-color: #d88f97;
}
.btn-info:hover {
    background-color: #c48289;
    border-color: #c48289;
}
.btn-info:not(:disabled):not(.disabled):active {
    background-color: #c48289;
    border-color: #c48289;
}
.remove:hover {
    cursor: pointer;
    color: #a23347;
}
.add-to-order {
    color: #A5435C;
}
.add-to-order:hover {
    cursor: pointer;
    border-bottom: 1px solid #d88f97;
}
.gray {
    color: gray;
}
.red {
    color: red;
}
.gray.cursor:hover {
    cursor:pointer;
    color: #3d69e4;
}
input, textarea {
    outline: none;
    width: 100%;
    padding: 5px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 10px;
}
